name: Continuous Deployment
on: 
  push:
    branches:
      - main

jobs:
  deploy:
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to staging
        env:
          MESSAGE: ${{vars.MESSAGE}}
        run: |
          echo "Deploying to staging environment with message: $MESSAGE"