name: Continuous Deployment
on: 
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      target_env:
        description: 'Choose the environment'
        required: true
        type: choice
        options:
          - staging
          - production
jobs:
  deploy:
    environment: ${{inputs.target_env}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to ${{inputs.target_env}}
        env:
          MESSAGE: ${{vars.MESSAGE}}
        run: |
          echo ${MESSAGE}