name: Build and Test
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: build with maven
        run: |
          chmod +x mvnw
          ./mvnw clean install -DskipTests